* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

img {
  max-width: 100%;
}

.masthead {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 4rem 2rem;
  min-height: 100vh;

  background: #fefefe;
}

.masthead > .profile {
  margin: 0 0 2rem;

  border-radius: 50%;
  max-width: 150px;

  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4);
}

.masthead > .name,
.masthead > .profession {
  margin: 0 0 .5rem;
  font-weight: lighter;
  text-align: center;
}

.masthead > .name {
  font-size: 3rem;
}

.masthead > .profession {
  color: #777;
  font-size: 1.5rem;
}

.masthead > .line {
  margin: 1.5rem 0;

  border-bottom: 1px solid #ddd;
  max-width: 100%;
  width: 250px;
}

.masthead > .email {
  margin: 0;

  color: #777;
  font-size: 1.2rem;
  font-weight: lighter;
}

.work {
  padding: 4rem 2rem;
}

.work > .title {
  margin: 0 0 .5rem;
  text-align: center;
  font-weight: lighter;

  color: #ffffff;
}

.work > .tagline {
  margin: 0 0 2rem;
  text-align: center;
  font-weight: lighter;

  color: rgba(255, 255, 255, 0.8);
}

.work > .container {
  margin: 0 auto;

  max-width: 100%;
  width: 720px;
}

.work .more {
  display: block;
  margin: 2rem auto 0;

  border: 0;
  padding: 1rem 4rem;

  background: #ffffff;

  cursor: pointer;
}

.link {
  display: block;
  margin: 0 auto;

  border-radius: 10px;
  padding: 1.5rem 2rem;
  width: 250px;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
}

.thaivans {
  background: #09b7cf;
  padding-bottom: 0;
}

.thaivans > .container,
.pollios > .container,
.ywc14 > .container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

}

.thaivans .detail,
.pollios .detail,
.ywc14 .detail {
  flex-grow: 1;
  text-align: center;
}

.thaivans .app,
.pollios .app,
.ywc14 .app {
  width: 300px;
  flex: 0 1 300px;
}

.thaivans .link {
  color: #09b7cf;
}

.thaivans .play {
  display: block;
  margin: 0 auto 1.5rem;

  max-width: 100%;
  width: 250px;
}

.pollios {
  padding-bottom: 0;
  background: #cf1e4f;
}

.pollios .link {
  color: #cf1e4f;
  margin-bottom: 2rem;
}

.ywc14 {
  background: linear-gradient(180deg,#4d5d9d 0,#97d8f4);
}

.ywc14 .link {
  color: #4d5d9d;
}

.carelot {
  background: #f70;
}

.carelot .link {
  color: #f70;
}

.idc {
  background: rgb(18, 21, 28);
}

.medico {
  background: rgb(56, 188, 175);
}

.mdt {
  background: #206768
}

.container > img {
  margin: 0 0 2rem;
}

div[gallery] {
  overflow: hidden;
  max-height: 0;

  transition: all .4s ease-in;
}

div[gallery].open {
  max-height: 9999px;
}

div[gallery] img {
  margin: 0 0 2rem;
}

@media (max-width: 600px) {
  .thaivans > .container {
    justify-content: center;
  }

  .thaivans .app {
    order: 2;
  }

  .thaivans .detail {
    margin-bottom: 4rem;
    order: 1;
  }
}